@keyframes rotation {
  from {
 transform: rotate(0deg);
}
  to {
  transform: rotate(360deg);
  }
}
.kaufman {
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 90px 0 90px 0;
}






