.logo_place_footer {
  text-align: start;
  width: 183px;
  height: 35px;
  background-image: url('../../../images/_sprint-1/logo_place_footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
