.logo_place_header {
  position: absolute;
  top: 30px;
  margin: 0;
  left: 64px;
  z-index: 4;
  background-image:url(../../../images/_sprint-1/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
