.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
/*---------Header--------------------------------------------------------------*/

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  flex: 0 1 auto;
}

.logo {
  background-image:url(../images/logo_place_header.svg);
  background-color: none;
  background-repeat: no-repeat;
  width: 183px;
  height: 32px;

}
.logo_place_header {
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  margin-right: auto;
  margin-bottom: auto;
  align-self: flex-start;
  z-index: 4;
}
.header__title {
  position: absolute;
  width: 730px;
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  z-index: 3;
}
.header__subtitle {
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  z-index: 2;
}
a.header__link:after {
  content: '\27F6';
}
a.header__link {
  color: #2f80ed;
}
.header__square-pic {
  display: flex;
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  margin: 64px 0 0 0;
  right: 0;
  z-index: 0;
}
.header__main-illustration {
  display: flex;
  right: 0px;
  bottom: 0px;
  left: auto;
  top: auto;
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 1;
}
/*-----------Section-description-------*/
.description {
  display: flex;
  align-self: center;
  justify-content: center;
}
.two-columns {
  margin-top: 100px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  min-height: auto;
}
.two-columns__brief {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  width: 175px;
  color: #2f80ed;
  text-align: justify;
  padding: 0;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}
p1 {
  margin-top: 0;
  margin-bottom: 30px;
}
p3 {
  margin-top: 30px;
  margin-bottom: 0;
}
/*-----digits------*/

.digits {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.section-title {
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 100px 0 20px 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}
.section-subtitle {
  width: 60%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  margin: 0 auto 100px;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
  min-height: 5px;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
/*---------feinman------*/
.feynman {
  background-color: #f2f2f2;
  height: 890px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.feynman__title {
  width: 648px;
  margin: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  z-index: 3;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  display: flex;
  margin: 70px 0 0 0;
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 2;
}
.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 0;
  left: auto;
  bottom: auto;
  z-index: 1;
}
.feynman__background-img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  z-index: 0;
}
a.feynman__link:after {
  content: '\27F6';
}
a.feynman__link {
  color: #2f80ed;
}
