.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}
/*---------Header--------------------------------------------------------------*/

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
  flex: 0 1 auto;
}

.logo {
  background-image:url(../images/logo_place_header.svg);

}
.logo_place_header {
  width: 183px;
  height: 32px;
  position: absolute;
  margin-top: 30px;
  margin-left: 64px;
  align-self: flex-start;


}
.header__title {
  position: relative;
  width: 730px;
  margin-left: 64px;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;


}
.header__subtitle {
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  margin-top: auto;
  margin-right: auto;
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;

}
a.link:after {
  content: '\27F6';
}
a.link {
  color: #2f80ed;
}
.header__square-pic {
  display: flex;
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  align-self: flex-start;
  margin: 64px 0 0 0;
  right: 0;
}
.header__main-illustration {
  display: flex;
  align-self: flex-end;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 1;
}

